<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lebrwcd.blog.mapper.BlogCategoryMapper">

  <select id="getList" resultType="com.lebrwcd.blog.entity.model.BlogCategory">
    select id,name
    from blog_category
    where status = '0' and del_flag != '1'
  </select>
</mapper>
